<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate_resume.mapper.CareerMapper">

    <insert id="createCareer">
        INSERT INTO career(mate_resume_id, name, job_name, date_start, date_end)
        VALUES
        <foreach collection="careerList" item="career" separator=", ">
            (#{mate_resume_id}, #{career.name}, #{career.job_name}, #{career.date_start}, #{career.date_end})
        </foreach>
    </insert>

    <insert id="insertCareer">
        INSERT INTO career(mate_resume_id, name, job_name, date_start, date_end)
        VALUES (#{mate_resume_id}, #{careerDTO.name}, #{careerDTO.job_name}, #{careerDTO.date_start}, #{careerDTO.date_end})
    </insert>

    <select id="findCareerById" resultType="CareerDTO">
        SELECT c.id, name, job_name, date_start, date_end
        FROM career c
        JOIN materesume m ON m.id = mate_resume_id
        WHERE m.id =#{id};
    </select>

    <update id="updateCareer">
        UPDATE career
        <set>

        <if test="name != null">
            name = #{name},
        </if>

        <if test="job_name != null">
            job_name = #{job_name},
        </if>

        <if test="date_start != null">
            date_start = #{date_start},
        </if>

        <if test="date_end != null">
            date_end = #{date_end}
        </if>

        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteCareer">
        DELETE FROM career WHERE id = #{id}
    </delete>

</mapper>