<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate.mapper.CareerMapper">

    <select id="findCareerById" resultType="CareerDTO">
        SELECT id, name, job_name, date_start, date_end
        FROM career
        WHERE member_id = #{login_id};
    </select>

    <insert id="createCareer">
        INSERT INTO career(member_id, name, job_name, date_start, date_end)
        VALUES
        <foreach collection="career" item="item" separator=", ">
            (#{login_id}, #{item.name}, #{item.job_name}, #{item.date_start}, #{item.date_end})
        </foreach>
    </insert>


</mapper>