<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate.mapper.CertificateMapper">

    <select id="findCertificateById" resultType="CertificateDTO">
        SELECT id, certificate_name, certificate_code, qualification_date, expired_date
        FROM certificate
        WHERE member_id = #{login_id};
    </select>

    <insert id="createCertificate">
        INSERT INTO certificate(member_id, certificate_name, certificate_code, qualification_date, expired_date)
        VALUES
        <foreach collection="certificate" item="item" separator=", ">
            (#{login_id}, #{item.certificate_name}, #{item.certificate_code}, #{item.qualification_date}, #{item.expired_date})
        </foreach>
    </insert>

</mapper>