<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate_resume.mapper.CertificateMapper">

    <insert id="createCertificate">
        INSERT INTO certificate(mate_resume_id, name, code, qualification_date, expired_date)
        VALUES
        <foreach collection="certificateList" item="certificate" separator=",">
            (#{mate_resume_id}, #{certificate.name}, #{certificate.code}, #{certificate.qualification_date}, #{certificate.expired_date})
        </foreach>
    </insert>

    <insert id="insertCertificate">
        INSERT INTO certificate(mate_resume_id, name, code, qualification_date, expired_date)
        VALUES (#{mate_resume_id}, #{certificateDTO.name}, #{certificateDTO.code}, #{certificateDTO.qualification_date}, #{certificateDTO.expired_date})
    </insert>

    <select id="findCertificateById" resultType="CertificateDTO">
        SELECT c.id, name, code, qualification_date, expired_date
        FROM certificate c
        JOIN materesume m ON m.id = c.mate_resume_id
        WHERE m.id = #{id};
    </select>

    <update id="updateCertificate">
        UPDATE certificate
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="code != null">
                code = #{code},
            </if>

            <if test="qualification_date != null">
                qualification_date = #{qualification_date},
            </if>

            <if test="expired_date != null">
                expired_date = #{expired_date}
            </if>

        </set>
        WHERE id = #{id}
    </update>

</mapper>