<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate.mapper.LocationMapper">

    <select id="findLocationById" resultType="LocationDTO">
        SELECT location.id, location_name
        FROM location JOIN suitemate AS mate ON location.mate_id = mate.id
        WHERE mate.family_id = #{id};
    </select>


</mapper>