<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate.mapper.MainServiceMapper">

    <select id="findMainServiceById" resultType="MainServiceDTO">
        SELECT mainservice.id, main_service_name
        FROM mainservice JOIN suitemate ON mainservice.mate_id = suitemate.id
        WHERE suitemate.family_id = #{id};
    </select>


</mapper>