<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate.mapper.MateMapper">

    <select id="findResumeById" resultType="MateDTO">
        SELECT profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage
        FROM materesume
        WHERE member_id = #{id};
    </select>

    <select id="isPresentResume">
        SELECT id FROM materesume WHERE member_id = #{id}
    </select>

    <insert id="createResume">
        INSERT INTO mateResume(member_id, profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage)
        VALUES (#{id}, 'filename', #{resumeRequestDTO.introduction}, #{resumeRequestDTO.contactTimeStart}, #{resumeRequestDTO.contactTimeEnd}, #{resumeRequestDTO.wage});
    </insert>

    <select id="getSearchedMate" resultType="SearchedMateResponseDTO">
        WITH resume	AS (
            SELECT r.member_id, profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage,
            GROUP_CONCAT(distinct loc.name) as location,
            GROUP_CONCAT(distinct service.name) as mainservice
            FROM materesume r
            JOIN location loc ON r.member_id = loc.member_id
            JOIN mainservice service ON r.member_id = service.member_id
            GROUP BY r.member_id, profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage
        )

        SELECT member_id, profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage, location, mainservice, name, gender, birthday
        FROM resume
        JOIN suitemember ON id = member_id

        WHERE
        desired_wage BETWEEN
            <foreach collection="wage" item="it" separator="and">
                #{it}
            </foreach>

        <if test="search_name != null">
            AND name LIKE CONCAT('%', #{search_name}, '%')
        </if>

        <if test="gender != null and gender.length == 1">
            AND gender =
            <foreach collection="gender" item="it">
                #{it}
            </foreach>
        </if>

        <if test = "age != null">
            AND TRUNCATE((to_days(NOW()) - to_days(birthday)) / 365, -1) IN
                <foreach collection="age" item="it" separator="," open="(" close=")">
                    #{it}
                </foreach>
        </if>

        <if test="location != null">
            AND
            <foreach collection="location" item="it" index="idx" separator="or" open="(" close=")">
                location LIKE CONCAT('%', #{it}, '%')
            </foreach>
        </if>

        <if test="service != null">
            AND
            <foreach collection="service" item="it" index="idx" separator="or" open="(" close=")">
                mainservice LIKE CONCAT('%', #{it}, '%')
            </foreach>
        </if>
    </select>
</mapper>