<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.mate.mapper.MateMapper">

    <select id="findResumeById" resultType="MateDTO">
        SELECT profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage
        FROM materesume
        WHERE member_id = #{login_id};
    </select>

    <select id="isPresentResume">
        SELECT id FROM materesume WHERE member_id = #{id}
    </select>

    <insert id="createResume">
        INSERT INTO mateResume(member_id, profile_picture_filename, introduction, contact_time_start, contact_time_end, desired_wage)
        VALUES (#{login_id}, 'filename', #{resumeRequestDTO.introduction}, #{resumeRequestDTO.contactTimeStart}, #{resumeRequestDTO.contactTimeEnd}, #{resumeRequestDTO.wage});
    </insert>
</mapper>