<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.member.mapper.MemberMapper">

    <!-- 회원가입 -->
    <insert id="create" parameterType="CreateMemberRequestDTO">
        insert into SuiteMember (id, password, name, tel, role, create_at, update_at)
        values (#{id}, #{password}, #{name}, #{tel}, #{role}, sysdate(), sysdate())
    </insert>

    <!--아이디 중복체크-->
    <select id="checkDuplicateID">
        select count(*) from SuiteMember where id = #{id}
    </select>

    <select id="getAccountInfoForLogin">
        select id, password, role from SuiteMember
        where id = #{id} and role in (#{role}, 'A');
    </select>

    <select id="getMypageById">
        select * from suitemember where id = #{id};
    </select>

    <!--회원 정보 수정-->
    <update id="updateMember" parameterType="Map">
        update SuiteMember
        set
        <if test="updateMemberRequestDTO.tel != null">
            tel = #{updateMemberRequestDTO.tel}
        </if>
        where id = #{id}
    </update>

    <select id="getPasswordById">
        select password from suitemember where id = #{id};
    </select>

    <!--비밀번호 변경-->
    <update id="changePassword">
        update SuiteMember
        set password = #{newPassword}
        where id = #{id};
    </update>

    <update id="updateRole">
        UPDATE suitemember
        SET role = 'A'
        WHERE id = #{id};
    </update>

</mapper>