<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.member.mapper.MemberMapper">

    <!-- 회원가입 -->
    <insert id="create" parameterType="CreateMemberRequestDTO">
        insert into SuiteMember (login_id, password, name, tel, role, create_at, update_at)
        values (#{login_id}, #{password}, #{name}, #{tel}, #{role}, sysdate(), sysdate())
    </insert>

    <!--아이디 중복체크-->
    <select id="checkDuplicateID">
        select count(*) from SuiteMember where login_id = #{login_id}
    </select>

    <!-- 로그인 -->
    <select id="login" parameterType="LoginRequestDTO">
        select id from SuiteMember
        where login_id = #{login_id} and password = #{password} and role in (#{role}, 'A');
    </select>

    <select id="findMypageById" parameterType="MypageResponseDTO">
        select * from suitemember where id = #{id};
    </select>

    <!--회원 정보 수정-->
    <update id="modify" parameterType="ModifyRequestDTO">
        update SuiteMember
        set tel = #{tel}
        where  id = #{login_id};
    </update>

    <!--비밀번호 변경-->
    <update id="changePw" parameterType="ChangePwRequestDTO">
        update SuiteMember
        set password = #{password}
        where  id = #{login_id};
    </update>

</mapper>