<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.patient.mapper.PatientMapper">

    <!-- 새로운 환자 등록 프론트url=(/family/addpatient) - 기본정보 -->
    <insert id="createPatient" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into Patient (member_id, name, gender, birthday, diagnosis_name, height, weight, create_at, update_at)
        values (#{id}, #{patient.name}, #{patient.gender}, #{patient.birthday}, #{patient.diagnosis_name}, #{patient.height}, #{patient.weight}, sysdate(), sysdate())
    </insert>

    <!-- 새로운 환자 등록 프론트url=(/family/addpatient) - 상세정보 -->
    <insert id="createPatientDetail" parameterType="PatientRequestDTO">
        insert into PatientDetail (id, consciousness_state, meal_care_state, toilet_care_state, paralysis_state, behavioral_state, is_bedsore, need_suction, need_outpatient, need_night_care, notice)
        values (#{member_id}, #{patient.consciousness_state}, #{patient.meal_care_state}, #{patient.toilet_care_state}, #{patient.paralysis_state}, #{patient.behavioral_state}, #{patient.is_bedsore}, #{patient.need_suction}, #{patient.need_outpatient}, #{patient.need_night_care}, #{patient.notice})
    </insert>

    <!-- 환자 고유 ID 검색 -->
    <select id="getPatientID" parameterType="PatientRequestDTO">
        select id from Patient
        where (member_id = #{member_id} and name = #{name} and gender = #{gender} and birthday = #{birthday} and height = #{height} and weight = #{weight})
    </select>

    <!-- family ID로 환자 목록 검색 -->
    <select id="getPatientList" parameterType="String">
        select * from Patient
        where (member_id = #{member_id})
    </select>

    <select id="getPatient">
        select * from patient where patient.id = #{id};
    </select>

    <!-- 환자 고유 ID로 환자 상세정보 검색 -->
    <select id="getPatientDetail">
        select * from PatientDetail
        where (id = #{id})
    </select>

    <!-- 환자 고유 ID로 환자 정보 수정 -->
    <update id="updatePatient" parameterType="PatientRequestDTO">
        update patient
        set name = #{name}, gender = #{gender}, birthday=#{birthday}, diagnosis_name=#{diagnosis_name}, height=#{height}, weight=#{weight}, update_at=sysdate()
        where id = #{id}
    </update>

    <update id="updatePatientDetail" parameterType="PatientRequestDTO">
        update patientdetail
        set consciousness_state=#{consciousness_state}, meal_care_state=#{meal_care_state}, toilet_care_state=#{toilet_care_state}, paralysis_state=#{paralysis_state}, behavioral_state=#{behavioral_state}, is_bedsore=#{is_bedsore}, need_suction=#{need_suction}, need_outpatient=#{need_outpatient}, need_night_care=#{need_night_care}, notice=#{notice}
        where id = #{id}
    </update>
</mapper>