<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.reservation.mapper.ReservationMapper">

    <insert id="createReservation">
        INSERT INTO reservation (recruitment_id, mate_resume_id, confirm_at)
        VALUES (#{recruitment_id}, #{mate_resume_id}, sysdate());
    </insert>

    <update id="updateStatus">
        UPDATE recruitment r, applicants a
        SET r.status = 'E',
            a.status = CASE mate_resume_id WHEN #{mate_resume_id} THEN 'C' ELSE 'R' END
        WHERE r.id = #{recruitment_id} AND a.recruitment_id = #{recruitment_id} AND status = 'P';
    </update>

    <update id="updateStatusToReject">
        UPDATE applicants
        SET status = 'R',
        WHERE recruitment_id = #{recruitment_id} AND mate_resume_id = #{mate_resume_id} AND request_by = #{request_by}
    </update>

<!--    <update id="updateRecruitmentStatus">-->
<!--        UPDATE applicants SET status = 'E'-->
<!--        WHERE recruitment_id = #{recruitment_id};-->
<!--    </update>-->

<!--    <select id="getReservationInfoById" resultType="ReservationDetailResponseDTO">-->
<!--        SELECT location, road_address, address_detail, wage, start_time, end_time, group_concat(day) weekday-->
<!--        FROM reservation r, dayofreservation d-->
<!--        WHERE r.id = #{reservation_id} AND d.reservation_id = r.id-->
<!--        GROUP BY d.reservation_id;-->
<!--    </select>-->

    <resultMap id="familyResultMap" type="com.suitecare.suitecare.api.reservation.dto.FamilyReservationResponseDTO">
        <id property="id" column="id"/>
        <result property="recruitment_id" column="recruitment_id"/>
        <result property="mate_resume_id" column="mate_resume_id"/>
        <result property="mate_name" column="mate_name"/>
        <result property="confirm_at" column="confirm_at"/>
        <result property="start_date" column="start_date"/>
        <result property="end_date" column="end_date"/>
        <result property="start_time" column="start_time"/>
        <result property="end_time" column="end_time"/>
        <collection property="weekdays" select="getWeekdaysById" column="recruitment_id"/>
    </resultMap>

    <!-- 보호자 로그인ID로 예약 내역 불러오기-->
    <select id="getFamilyReservationListById" resultMap="familyResultMap">
        SELECT r.*, name as mate_name, start_date, end_date, start_time, end_time
        FROM reservation r
        JOIN recruitment c ON recruitment_id = c.id AND c.member_id = #{login_id}
        JOIN suitemember s ON s.id = r.mate_resume_id;
    </select>

    <!-- 공고ID로 근무 요일 -->
    <select id="getWeekdaysById" resultType="java.lang.Integer">
        SELECT day FROM dayofreservation WHERE recruitment_id = #{recruitment_id}
    </select>

    <resultMap id="mateResultMap" type="com.suitecare.suitecare.api.reservation.dto.MateReservationResponseDTO">
        <id property="id" column="id"/>
        <result property="recruitment_id" column="recruitment_id"/>
        <result property="family_id" column="family_id"/>
        <result property="family_name" column="family_name"/>
        <result property="confirm_at" column="confirm_at"/>
        <result property="start_date" column="start_date"/>
        <result property="end_date" column="end_date"/>
        <result property="start_time" column="start_time"/>
        <result property="end_time" column="end_time"/>
        <collection property="weekdays" select="getWeekdaysById" column="recruitment_id"/>
    </resultMap>

    <!-- 간병인 로그인ID로 예약 내역 불러오기-->
    <select id="getMateReservationListById" resultMap="mateResultMap">
        SELECT reservation.*, member_id AS family_id, name AS family_name, start_date, end_date, start_time, end_time
        FROM reservation
        JOIN recruitment ON recruitment_id = recruitment.id
        JOIN suitemember ON suitemember.id = recruitment.member_id
        WHERE mate_resume_id = #{login_id};
    </select>

</mapper>