<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitecare.suitecare.api.search.mapper.SearchMapper">

    <select id="getReservationSearch" parameterType="ReservationSearchRequestDTO" resultType="ReservationSearchResponseDTO">
        SELECT reservation.id, patient_id, gender, birthday, diagnosis_name, location, substring_index(road_address, " ", 2) as road_address, wage, start_date, end_date, start_time, end_time, GROUP_CONCAT(day) as day
        FROM reservation
        JOIN patient as p ON p.id = reservation.patient_id
        JOIN dayofreservation as d ON d.reservation_id = reservation.id
        WHERE status = 'P' AND start_date > current_date()
        AND wage between
        <foreach collection="wage" item="it" separator="and">
            #{it}
        </foreach>
        <if test="search_input neq ''">
            AND diagnosis_name like '%${search_input}%'
        </if>
        <if test="location != null">
            AND SUBSTRING(road_address, 4, 3) in
            <foreach collection="location" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </if>
        <if test="gender != null and gender.length == 1">
            AND gender =
            <foreach collection="gender" item="it">
                #{it}
            </foreach>
        </if>
        GROUP BY reservation.id;
    </select>
</mapper>